@require './general'

$base-btn-color = $white
$base-btn-font-color = $blue
$base-btn-boder = 1px solid rgba(27, 31, 35, 0.2)
$base-btn-boder-radius = 6px
$base-btn-line-height = 1.2

.btn {
    color: $base-btn-font-color
    border: $base-btn-boder
    border-radius: $base-btn-boder-radius
    line-height: $base-btn-line-height
    background: $base-btn-color
    padding: 0.75rem 1.25rem
    vertical-align: middle
    text-align: center
    font-weight: 600
    font-family: $font-family
    
    &:focus {
        outline: none
    }

    &:hover {
        cursor: pointer
    }
}

.btn-primary {
    color: $white
    background: $green
    background-image: linear-gradient(-180deg, $light-green 0%, @background 90%)

    &:hover {
        background: #269f42
        background-image: linear-gradient(-180deg, #2fcb53 0%, @background 90%)
    }
}