@require './general'

link-style($link-color = $blue) {
    .arrow-link {
        margin-bottom: 10px

        a {
            display: flex
            flex-flow: row nowrap
            align-items: center
            color: $link-color
        }

        svg {
            fill: $link-color
            margin-left: 8px
        }
    }
}

block-center() {
    display: block
    margin: 0 auto
}

container() {
    block-center()
    display: flex
    align-items: center
    justify-content: space-between
    max-width: $basic-max-site-width
}

feature-title-description() {
    p {
        block-center()
        color: $darker-gary
        width: 66.67%
        margin-bottom: 30px
        font-size: (20/$base-rem)rem
        line-height: 1.5
        font-weight: 300
    }
}

feature-description() {
    p {
        font-size: 1rem
        line-height: 1.5
    }
}

feature-title() {
    .feature-title {
        .feature-logo {
            text-align: center
            
            svg {
                width: 64px
                padding-bottom: 8px
            }
        }

        .feature-title-and-description {
            feature-title-description()
            text-align: center
        }
    }
}