@require './general'
@require './component'

.feature-container {
    feature-title()
    block-center()
    max-width: $basic-max-site-width
    padding: 0 16px
}

.h3-text {
    feature-description()
}