// color define
$white = #ffffff
$hard-black = #24292e
$soft-black = #2b3137
$darker-gary = #586069
$gray = #898d92
$light-gray = #e1e4e8
$blue = #0366d6
$green = #28a745
$light-green = #34d058

// font define
$font-family = -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif
$font-size = 16px
$base-rem = 16

// theme basic
$base-background-color = $white
$base-line-height = 1.2
$link-color = $blue
$item-border-radius = 3px
$basic-max-site-width = 1012px
