// color define
$white = #ffffff
$hard-black = #24292e
$soft-black = #2b3137
$darker-gary = #586069
$gray = #898d92
$light-gray = #e1e4e8
$blue = #0366d6
$green = #28a745
$light-green = #34d058

// font define
$font-family = -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
$font-size = 16px
$base-rem = 16

// theme basic
$base-background-color = $white
$base-line-height = 1.2
$link-color = $blue
$item-border-radius = 3px
