// color define
$white = #ffffff
$hard-black = #24292e
$soft-black = #2b3137
$darker-gary = #586069
$gray = #898d92

// font define
$font-family = -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
$font-size = 16px

// theme basic
$base-background-color = $white
$item-border-radius = 3px