@require './button'
@require './input'
@require './component'

$v-padding = (32/$base-rem)rem
$h-padding = (40/$base-rem)rem

link-style()

.introduction {
    background: $soft-black url('/assets/simple-codelines.svg') no-repeat
    background-position: center 10%
    background-size: cover

    .section-container {
        container()
    }

    .github-introduction {
        display: flex
        flex-flow: column nowrap
        justify-content: center
        flex: 2 1 0
        padding: 0 24px

        h1, a, p {
            -webkit-font-smoothing: antialiased
        }

        a, p {
            font-weight: 300
            text-align: left
            line-height: 1.5
            font-size: (26/$base-rem)rem
        }

        p {
            margin-top: 0
            margin-bottom: 24px
            color: rgba(255, 255, 255, 0.6)
        }

        a {
            border-bottom: 1px solid rgba(255,255,255,0.125)
            font-weight: normal
            color: $white
        }

    }


    .reigster-form {
        flex: 1 1 0
        padding: 0 (24/$base-rem)rem

        form {
            background: rgb(250, 251, 252)
            border-radius: $item-border-radius
            padding: (24/$base-rem)rem $h-padding
            width: 380px
            
            > * {
                width: 100%
                line-height: 1.5
            }

            p {
                color: rgb(106, 115, 125)
                font-size: (12/$base-rem)rem
            }
            
            #reigster-privacy {
                text-align: center
            }
        }


        .form-item {

            dd {
                margin: 0
            }

            label, input, button {
                display: block
                width: 100%
                min-width: 200px
            }
            label {
                color: rgb(88, 96, 105)
                font-size: (14/$base-rem)rem
                margin-bottom: 5px
            }
        }
    }
}

.conference {
    background: $hard-black
    padding: $v-padding $h-padding

    .conference-container {
        block-center()
        display: flex
        flex-flow: row wrap
        justify-content: center
        align-items: center

        .conf-logo {
            padding-top: 1rem
            padding-right: $h-padding

            img {
                width: 205px
            }
        }

        .conf-description {
            width: 300px

            img {
                width: 215px
                margin: 0
            }

            p {
                color: $white
                text-align: left
                margin: 8px 0
                line-height: 1.5
            }

            link-style(#959da5)
        }
    }
    
}

.feature-team {
    
    .feature-team-container {
        feature-title()
        block-center()
        max-width: $basic-max-site-width
        padding: 0 16px

        .feature-item {
            display: flex
            flex-flow row nowrap
            justify-content: center
            align-items: center
            
            
            .h3-text, .text-wrap {
                flex: 1 1 0
            }

            .h3-text {
                feature-description()
                order: 0
            }

            &:nth-child(odd) {
                .text-wrap {
                    order: 1
                }
            }

            &:nth-child(even) {
                .text-wrap {
                    order: -1
                }
            }

            #home-illo-conversation {
                padding-right: 32px

                > img {
                    width: 360px
                }
            }

            #home-illo-chaos {
                padding: 32px

                > img {
                    width: 426px
                }
            }
        }
    }

}