@require './button'
@require './input'
@require './component'

$v-padding = (32/$base-rem)rem
$h-padding = (40/$base-rem)rem

link-style()

.introduction {
    background: $soft-black url('/assets/simple-codelines.svg') no-repeat
    background-position: center 10%
    background-size: cover

    .section-container {
        container()
    }

    .github-introduction {
        display: flex
        flex-flow: column nowrap
        justify-content: center
        flex: 2 1 0
        padding: 0 24px

        h1, a, p {
            -webkit-font-smoothing: antialiased
        }

        a, p {
            font-weight: 300
            text-align: left
            line-height: 1.5
            font-size: (26/$base-rem)rem
        }

        p {
            margin-top: 0
            margin-bottom: 24px
            color: rgba(255, 255, 255, 0.6)
        }

        a {
            border-bottom: 1px solid rgba(255,255,255,0.125)
            font-weight: normal
            color: $white
        }

    }


    .reigster-form {
        flex: 1 1 0
        padding: 0 (24/$base-rem)rem

        form {
            background: rgb(250, 251, 252)
            border-radius: $item-border-radius
            padding: (24/$base-rem)rem $h-padding
            width: 380px
            
            > * {
                width: 100%
                line-height: 1.5
            }

            p {
                color: rgb(106, 115, 125)
                font-size: (12/$base-rem)rem
            }
            
            #reigster-privacy {
                text-align: center
            }
        }


        .form-item {

            dd {
                margin: 0
            }

            label, input, button {
                display: block
                width: 100%
                min-width: 200px
            }
            label {
                color: rgb(88, 96, 105)
                font-size: (14/$base-rem)rem
                margin-bottom: 5px
            }
        }
    }
}

.conference {
    background: $hard-black
    padding: $v-padding $h-padding

    .conference-container {
        block-center()
        display: flex
        flex-flow: row wrap
        justify-content: center
        align-items: center

        .conf-logo {
            padding-top: 1rem
            padding-right: $h-padding

            img {
                width: 205px
            }
        }

        .conf-description {
            width: 300px

            img {
                width: 215px
                margin: 0
            }

            p {
                color: $white
                text-align: left
                margin: 8px 0
                line-height: 1.5
            }

            link-style(#959da5)
        }
    }
    
}

.feature-team {
    
    .feature-team-container {

        .feature-item {
            display: flex
            flex-flow row nowrap
            justify-content: center
            align-items: center
            
            
            .h3-text, .text-wrap {
                flex: 1 1 0
            }

            .h3-text {
                order: 0
            }

            &:nth-child(odd) {
                .text-wrap {
                    order: 1
                }
            }

            &:nth-child(even) {
                .text-wrap {
                    order: -1
                }
            }

            #home-illo-conversation {
                padding-right: 32px
                width: 490px

                > img {
                    max-width: 100%
                    width: 360px
                }
            }

            #home-illo-chaos {
                padding: 32px
                width: 490px

                > img {
                    max-width: 100%
                    width: 426px
                }
            }
        }
    }
}

.feature-work {
    .feature-work-container {
        padding-left: 0
        padding-right: 0

        .feature-items, #home-illo-business {
            display: inline-block
            max-width: 50%
            width: 490px
        }

        #home-illo-business {
            padding-left: 32px
            margin-bottom: 10px

            > img {
                max-width: 100%
            }
        }
    }
}

.feature-integrations {
    .feature-integrations-container {

        .feature-title {
            padding: 40px 0
        }

        .feature-items {

            .integration-logos {
                $logo-width = 96px
                $logo-height = 96px
                $label-background-color = rgba(27, 31, 35, 0.8)
                $labe-color = $white

                flex-h-v-center()
                flex-flow: row wrap
                height: ($logo-height + ($logo-height/2))
                margin:10px auto 40px auto

                .integration-logo {
                    flex-h-v-center()
                    width: $logo-width
                    height: $logo-height
                    border-radius: (@width/2)px
                    margin: 0 16px
                    position: relative

                    img {
                        max-width: 55%
                        max-height: 55%
                    }

                    &:hover {
                        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2)
                        transition: top 0.15s ease-in, box-shadow 0.12s ease-in
                    }
                }

                div {
                    &:nth-child(odd) {
                        align-self: flex-start
                    }

                    &:nth-child(even) {
                        align-self: flex-end
                    }
                }

                #slackhq-logo {
                    background: #553958

                    &:hover {
                        pop_label('Slack', $labe-color, $label-background-color)
                    }
                }

                #zenhubio-logo {
                    background: #364e98
                    
                    &:hover {
                        pop_label('ZenHub', $labe-color, $label-background-color)
                    }
                }

                #travis-ci-logo {
                    background: #eff9f9

                    &:hover {
                        pop_label('Travis CI', $labe-color, $label-background-color)
                    }
                }

                #atom-logo {
                    background: #5fb57d
                    
                    &:hover {
                        pop_label('Atom', $labe-color, $label-background-color)
                    }57d
                }

                #circleci-logo {
                    background: #022531

                    &:hover {
                        pop_label('Circle CI', $labe-color, $label-background-color)
                    }
                }

                #codeship-logo {
                    background: #f3f6fb

                    &:hover {
                        pop_label('Codeship', $labe-color, $label-background-color)
                    }
                }

                #codeclimate-logo {
                    background: #303030

                    &:hover {
                        pop_label('Code Climate', $labe-color, $label-background-color)
                    }
                }


            }

            .integration-other-description {
                block-center()
                font-size: (14/$base-rem)rem
                text-align: center
                padding: 40px 0
                max-width: 66.667%
                line-height: 1.5
                
                .arrow-link {
                    container()
                    font-size: 1rem
                    margin: 10px auto
                }

                p{
                    &:first-child {
                        margin: 8px auto
                        max-width: 50%
                        line-height: 1.5
                    }
                }
            }
        }
    }
}

.feature-community {
    .feature-community-container {
        .feature-items {
            .hot-project-owner-introduction {
                overflow-x: auto
                white-space: nowrap
                height: 500px

                .project-owner {
                    display: inline-block
                    position: relative

                    &:nth-child(odd) {
                        top: 20px
                    }
                }

            }
        }
    }
}