@require './button'
@require './input'

.introduction {
    background: $soft-black url('https://assets-cdn.github.com/images/modules/site/heroes/simple-codelines.svg') no-repeat
    background-position: center 10%
    background-size: cover
    .section-container {
        display: flex
        flex-flow: row nowrap
        justify-content: center
        max-width: 1012px
        margin: 0 auto
        padding: 100px 0
        
    }

    .github-introduction {
        display: flex
        flex-flow: column nowrap
        justify-content: center
        flex: 2 1 0
        color: $white
        font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif
        padding: 0 24px

        h1, a, p {
            font-weight: 300
            font-size: (26rem/$base-rem)
            text-align: left
        }

        a, p {
            line-height: 1.5
        }

        h1 {
            margin-top: -1px
            margin-bottom: 16px
            font-size: (72rem/$base-rem)
            line-height: 1
        }

        p {
            margin-top: 0
            margin-bottom: 24px
            color: rgba(255, 255, 255, 0.6)
        }

        a {
            color: @color
            border-bottom: 1px solid rgba(255,255,255,0.125)
        }

    }


    .reigster-form {
        flex: 1 1 0
        padding: 0 (24rem/$base-rem)

        form {
            background: rgb(250, 251, 252)
            border-radius: $item-border-radius
            padding: (24rem/$base-rem) 40px
            width: 380px
            
            > * {
                width: 100%
                line-height: 1.5
            }

            p {
                color: rgb(106, 115, 125)
                font-size: (12rem/16)
            }
            
            #reigster-privacy {
                text-align: center
            }
        }


        .form-item {

            dd {
                margin: 0
            }

            label, input, button {
                display: block
                width: 100%
                min-width: 200px
            }
            label {
                color: rgb(88, 96, 105)
                font-size: (14rem/$base-rem)
                margin-bottom: 5px
            }
        }
    }
}

